In [1]:
import pandas as pd

# create a date range

In [2]:
dates = pd.date_range(start='2025-01-01', end='2025-12-31')
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10',
               ...
               '2025-12-22', '2025-12-23', '2025-12-24', '2025-12-25',
               '2025-12-26', '2025-12-27', '2025-12-28', '2025-12-29',
               '2025-12-30', '2025-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [3]:
dates = pd.date_range(start='2025-01-01', end='2025-12-31', periods=10)
dates

DatetimeIndex(['2025-01-01 00:00:00', '2025-02-10 10:40:00',
               '2025-03-22 21:20:00', '2025-05-02 08:00:00',
               '2025-06-11 18:40:00', '2025-07-22 05:20:00',
               '2025-08-31 16:00:00', '2025-10-11 02:40:00',
               '2025-11-20 13:20:00', '2025-12-31 00:00:00'],
              dtype='datetime64[ns]', freq=None)

# modify the format

In [4]:
dates.map(lambda x: x.date())

Index([2025-01-01, 2025-02-10, 2025-03-22, 2025-05-02, 2025-06-11, 2025-07-22,
       2025-08-31, 2025-10-11, 2025-11-20, 2025-12-31],
      dtype='object')

In [5]:
dates.map(lambda x: x.strftime('%Y-%m-%d'))

Index(['2025-01-01', '2025-02-10', '2025-03-22', '2025-05-02', '2025-06-11',
       '2025-07-22', '2025-08-31', '2025-10-11', '2025-11-20', '2025-12-31'],
      dtype='object')

In [9]:
dates.to_series().dt.date.to_list()

[datetime.date(2025, 1, 1),
 datetime.date(2025, 2, 10),
 datetime.date(2025, 3, 22),
 datetime.date(2025, 5, 2),
 datetime.date(2025, 6, 11),
 datetime.date(2025, 7, 22),
 datetime.date(2025, 8, 31),
 datetime.date(2025, 10, 11),
 datetime.date(2025, 11, 20),
 datetime.date(2025, 12, 31)]

In [10]:
dates.to_series().dt.strftime('%Y-%m-%d').to_list()

['2025-01-01',
 '2025-02-10',
 '2025-03-22',
 '2025-05-02',
 '2025-06-11',
 '2025-07-22',
 '2025-08-31',
 '2025-10-11',
 '2025-11-20',
 '2025-12-31']

# date intervals with non-overlapping boundaries

In [20]:
# create a list of dates at 30 day intervals
import datetime as dt
end_date = '2025-12-31'
start_date = (dt.datetime.strptime(end_date, '%Y-%m-%d') - dt.timedelta(360)).strftime('%Y-%m-%d')
intervals = pd.date_range(start=end_date, end=start_date, freq='-30D')
#intervals = intervals.to_series().dt.strftime('%Y-%m-%d').to_list()
intervals

DatetimeIndex(['2025-12-31', '2025-12-01', '2025-11-01', '2025-10-02',
               '2025-09-02', '2025-08-03', '2025-07-04', '2025-06-04',
               '2025-05-05', '2025-04-05', '2025-03-06', '2025-02-04',
               '2025-01-05'],
              dtype='datetime64[ns]', freq='-30D')

In [24]:
# convert to list of intervals - e.g. for chunking 
chunks = list(zip(
    intervals[1:].to_series().dt.strftime('%Y-%m-%d').to_list(), 
    (intervals[:-1]-dt.timedelta(1)).to_series().dt.strftime('%Y-%m-%d').to_list()
))
chunks

[('2025-12-01', '2025-12-30'),
 ('2025-11-01', '2025-11-30'),
 ('2025-10-02', '2025-10-31'),
 ('2025-09-02', '2025-10-01'),
 ('2025-08-03', '2025-09-01'),
 ('2025-07-04', '2025-08-02'),
 ('2025-06-04', '2025-07-03'),
 ('2025-05-05', '2025-06-03'),
 ('2025-04-05', '2025-05-04'),
 ('2025-03-06', '2025-04-04'),
 ('2025-02-04', '2025-03-05'),
 ('2025-01-05', '2025-02-03')]

In [27]:
# convert to list of intervals - e.g. for chunking 
for i, x in enumerate(chunks):
    chunk_start = x[0]
    chunk_end = x[1]
    print(f'{i}: date between {chunk_start} and {chunk_end}')

0: date between 2025-12-01 and 2025-12-30
1: date between 2025-11-01 and 2025-11-30
2: date between 2025-10-02 and 2025-10-31
3: date between 2025-09-02 and 2025-10-01
4: date between 2025-08-03 and 2025-09-01
5: date between 2025-07-04 and 2025-08-02
6: date between 2025-06-04 and 2025-07-03
7: date between 2025-05-05 and 2025-06-03
8: date between 2025-04-05 and 2025-05-04
9: date between 2025-03-06 and 2025-04-04
10: date between 2025-02-04 and 2025-03-05
11: date between 2025-01-05 and 2025-02-03