In [9]:
import itertools

import pandas as pd

In [12]:
x = [1, 2, 3]
y = ['a', 'b', 'c']

In [13]:
list(itertools.product(x, y))

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [ ]:
params = {'x': x, 'y': y}
df = pd.DataFrame(itertools.product(*params.values()), columns=params.keys())
df

   x  y
0  1  a
1  1  b
2  1  c
3  2  a
4  2  b
5  2  c
6  3  a
7  3  b
8  3  c

In [21]:
for i, x, y in df.itertuples():
    print(f'row {i}: x={x}, y={y}')

row 0: x=1, y=a
row 1: x=1, y=b
row 2: x=1, y=c
row 3: x=2, y=a
row 4: x=2, y=b
row 5: x=2, y=c
row 6: x=3, y=a
row 7: x=3, y=b
row 8: x=3, y=c